body {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
sub {
  vertical-align: sub;
}

/* Width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
