.grassWrapper {
  height: 117px;
  @include media-breakpoint-up(lg) {
    height: 180px;
  }
  img, .grass {
    transform: translateY(100%);
    animation-duration: 6s;
    animation-iteration-count: infinite;
    &:nth-child(3) {
      animation-name: grow1;
    }
    &:nth-child(2) {
      animation-name: grow2;
    }
    &:nth-child(1) {
      animation-name: grow3;
    }
  }
}

@keyframes grow1 {
  0%, 20% {
    //畫面在拉小的時候 translateY(100%) 還是會露出一點點，在 img 上設 d-block 也沒用
    transform: translateY(101%);
  }
  70%, 85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes grow2 {
  0%, 25% {
    transform: translateY(101%);
  }
  75%, 90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes grow3 {
  0%, 30% {
    transform: translateY(101%);
  }
  80%, 95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.grass {
  position: relative;
  width: 117px;
  height: 117px;
  flex-shrink: 0;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    width: 180px;
    height: 180px;
  }
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 11.1111%; //20px
  background-color: #fff;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.circle {
  position: absolute;
  width: 111.1111%; //200px/180px
  height: 111.1111%;
  background-color: #fff;
  top: 50%;
  border-radius: 50%;
  &-1 {
    left: 0%;
    transform: translate(-50%, 0);
  }
  &-2 {
    left: 100%;
    transform: translate(-50%, 0);
  }
  &::before {
    content: '';
    position: absolute;
    width: 80%; //160px/200px
    height: 80%;
    background-color: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}
