.hover-zoomImage {
  img {
    transition: transform .35s ease;
  }
  &:hover img {
    transform: scale(1.1);
  }
}

.hover-border-white {
  transition: border .35s ease;
  &:hover {
    border: 1px solid #fff !important;
  }
}
